<div align="center" class="row">
    <form class="form form-inline">
        <div class="form-group">
            <label>Arama Özellikleri</label>
            <input type="text" ng-model="mc.tck" class="form-control" placeholder="tc kimlik no" />
            <input type="text" ng-model="mc.ad" class="form-control" placeholder="ad" />
            <input type="text" ng-model="mc.soyad" class="form-control" placeholder="soyad" />
            <input type="text" ng-model="mc.sinif" class="form-control" placeholder="sınıf" />
            <input type="text" ng-model="mc.telefon" class="form-control" placeholder="telefon" />
            <button class="btn btn-success">Ara</button>
        </div>
    </form>
</div>